[submodule "external/imgui"]
	path = samples/imgui_display/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/websocketpp"]
	path = external/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "proto/sensr_proto"]
	path = proto/sensr_proto
	url = https://github.com/seoulrobotics/sensr_proto.git
